.app{
  background-color: rgb(197, 152, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box{
  border-radius: 10px;
  backdrop-filter: blur(24px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
  padding: 3rem;
  width: 50%;
}